<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="@Url.Content("~/css/css.css")" />
</head>
<body>
    <script src="~/js/jquery.min.js"></script>
    <header class="d-head @ViewData["show"]">
        <span onClick="window.history.go(-1)" class="back"></span>
        <h1>安徽舜禹水务</h1>
    </header>

    <div class="container body-content">
        @RenderBody()
        <!--<hr />-->

    </div>
    <footer class="d-footer @ViewData["show"]">
        <ul class="wb d-footerul">
            <li class="icoa wbw d-footerli @ViewData[" active"] ">
                <a href="/Sypumps/Index"><img src="~/img/home.png" /></a>
            </li>
            <li class="icob wbw d-footerli @ViewData[" list"]">
                <a href="/Sypumps/alarmList"><img src="~/img/notice.png" /></a>
            </li>

            <!--<li class="icod"><a href="#"></a></li>-->
        </ul>

    </footer>
    <!--<footer class="d-footer @ViewData["show"]">
        <ul class="wb d-footerul">
            <li class="icoa wbw d-footerli @ViewData["active"] ">
                <a href="/"><img src="~/img/home.png" /></a>
            </li>
            <li class="icob wbw d-footerli @ViewData["list"]">
                <a href="/Sypumps/Main"><img src="~/img/notice.png" /></a>
            </li>
            <li class="icoc wbw d-footerli @ViewData["my-menu"]">
                <a href="/Sypumps/My"><img src="~/img/my.png" /></a>
            </li>
    </ul>-->
    </footer>

    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
